<h4 class="ui center aligned icon header">
  <i class=" orange circular comments icon"></i>
  Say something
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
         <div class="ui comments">
         <% @messages.each do |message| %>
            <div class="comment">
              <div class="content">
                <%= link_to message.user.username, class: "author" %>
                <div class="metadata">
                  <span class="date"><%= time_ago_in_words(message.updated_at) %></span>
                </div>
                <div class="text">
                  <%= message.body %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="extra content">
              <form class="ui reply form">
                <div class="field">
                  <div class="ui fluid icon input">
                    <input type="text" placeholder="Enter a message...">
                    <i class=" bordered inverted orange edit icon edit"></i> 
                  </div>
                </div>
              </form>
            </div>
      </div>
    </div>
   

  <div class="four wide column">
  <div class="ui fluid raied card chatbox"> 
    <div class="content">
    <div class="ui vertical text menu">
      <div class="header item">Sort By</div>
        <a class="active item">
          Closest
        </a>
        <a class="item">
          Most Comments
        </a>
        <a class="item">
          Most Popular
        </a>
    </div>
  </div>
    </div>
  </div>
    
</div>