@import 'semantic-ui';

.chatbox{
  height: 560px;
}

#msg {
  height: 15em;

  overflow: auto;
}

body{
  background-image: url(img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// #box {
//   display: inline-block;
//   vertical-align: middle
// }
// .column {
//   max-width: 450px;
// }